/* SlideShow  */

.slideShow {
  background: #666666;
  height: calc(100dvh - 124px);
  max-width: 500px;
  margin: 60px auto 4px auto;
  overflow: hidden;
  position: relative;
  scroll-margin-top: 64px; 
  scroll-snap-align: start;
  width: 100%;

  border: 1px dashed yellow;
}

.slideContainer section {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  width: 100%;

  border: 1px dashed green;
}

.slideContainer section article {

  border: 1px dashed red;
}
