/* Camera Top Nav */

.topNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 4px 8px 0 8px;
  padding-top: env(safe-area-inset-top);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
}

.topNav button:first-child {
  background: rgba(0, 0, 0, 0.5);
}
