/* Search Form Speech Recognition Button */

.speechRecognitionButton {
  align-items: center; 
  background: none;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
}

.speechRecognitionButton svg {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.speechRecognitionButton.active svg {
  fill: #00C853;
}
