/* User Authentication Flow, Login */

.login {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  height: 100dvh;
  left: 0;
  opacity: 1;
  position: fixed;
  scrollbar-width: none;
  top: 0;
  transition: opacity 0.5s ease-out;
  width: 100%;
  z-index: 150;
}

.login > div {
  align-items: center;
  background-color: var(--surface);
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: safe center;
  left: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 16px 24px;
  position: fixed;
  scrollbar-width: none;
  top: 0;
  touch-action: none;
  width: 100%;
  z-index: 200;
}

.login > button:first-of-type { /* isnt aligned with form fields (id rather change the padding on fields than close button) */
  left: 8px;
  position: absolute;
  top: 8px;
}
