/* Video Editor */

.editor {
  contain: content;
  height: 100dvh;
  inset: 0;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  z-index: 200;
}

.editor video {
  object-fit: cover;
  height: 100dvh;
  inset: 0;
  position: absolute;
  z-index: 250;
}
