/* Camera Mute Button CSS Module */

.muteButton {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px; 
  height: 45px;
  /* padding: 5px 10px; */
  width: 45px; 
  z-index: 300;
}
