
.input {
  margin-bottom: 8px;
}

.input label {
  color: var(--text);
  display: block;
  font-size: var(--font-size);
  margin: 0 0 8px 8px;
}

.input label span {
  color: red;
}

.input input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}

.input input:focus {
  outline: none;
}

.input input.invalid {
  border: 2px solid red;
}

.input p {
  color: red;
  margin: 4px 0 0 8px;
}
