/* Feed Node Side Nav */

.sideNav {
  bottom: 112px; /* 64px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 256px;
  position: absolute;
  right: 0;
  width: 48px;
  z-index: 20;

  border: 1px dashed red;
}
