/* Camera View Port CSS Module */

.grTGSKLly6qq95OQDiW2 { 
  object-fit: cover;
  height: 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width: 100%;
  will-change: transform, opacity;
  transform: translateZ(0);
  z-index: 3;
}

/* Camera BackButton CSS Module */

.gZVVsZaSeQmj5r1OIILk {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  left: 0px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-size: 22px; 
  height: 45px;
  position: absolute;
  top: 0px;
  width: 45px;
  z-index: 4;
}

.gZVVsZaSeQmj5r1OIILk svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Camera Record Timer CSS Module */

.r0seWmD9fFTfnWs1dnL2 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white; 
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  top: 0;
  padding: 5px 10px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 4;
}

/* Camera Light Button CSS Module */

.MTUqodLc4vgQcRBbnX_w {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 22px; 
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45px;
  z-index: 4;
}

.MTUqodLc4vgQcRBbnX_w svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Camera Mute Button CSS Module */

.AZOIeRKTIYCyq6xhU5pg {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  bottom: 0; /* 20px */
  color: white;
  cursor: pointer;
  font-size: 22px; 
  height: 45px;
  /* padding: 5px 10px; */
  position: absolute;
  right: 0;
  width: 45px; 
  z-index: 4;
}

.AZOIeRKTIYCyq6xhU5pg svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Camera Record Button CSS Module */

.w89rbEAJsHlUCU9l6uRm { 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 10px;
  width: 78px;
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.a04sK3kPpe_weYYEkKGQ {
  background-color: #e5e4e2;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  height: 56px;
  padding: 0 26px; 
}

.a04sK3kPpe_weYYEkKGQ:hover {
  background-color: #f2f3f4;
}

.Elk2VUJfyKgH6N3pWbkT:active {
  background-color: #cb4154;
}

/* Camera Location Button CSS Module*/

.x0rVinpmgIALQbVh1IO6 {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 22px; 
  height: 45px;
  left: 0;
  position: absolute;
  width: 45px; 
  z-index: 4;
}

.x0rVinpmgIALQbVh1IO6 svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* camera */

.NmsyPqws04RTPJm_5hR6 {
  contain: layout paint style;
  inset: 0;
  margin: 0 auto;
  max-width: 500px; 
  overflow: hidden;
  position: fixed;
}

/* Close Overlay Back Button */

._4sofJChA5hme8ZvWn_aX {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Node Comments System */

.uoscghNXGwijRME3XZY7 {
  position: absolute;
  top: 0;
  left: 0
}

.uoscghNXGwijRME3XZY7 textarea {
  field-sizing: content;
  max-height: 152px;
  min-height: 48px;
  overflow: hidden; /* Hide scrollbars */
  resize: none; /* Disable manual resize */
}

/* User Dashboard */

.FlKf9UiiLCEgBH_Mh5z0 {
  color: white;
  height: 100dvh;
  width: 100%;
}

/* Dropdown Button */

.abpuI_3Na2ydJj24PSqD {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  color: var(--dropdown-text);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 10px;
  width: 44px;
}

/* Dropdown List Item Button */

.OGbMvckCuIXNF7ZaS8mY {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-weight: bold;
  gap: 8px;
  height: 44px;
  justify-content: flex-start;
  padding: 0 8px;
  width: 100%;
}



/* Dropdown List */

.SaGbxhcxIln6hpTb0Klg {
  background-color: var(--dropdown-bg);
  border: 1px solid var(--dropdown-border);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  min-width: 200px;
  padding: 8px 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 48px;
  transition: opacity 0.2s ease-in-out;
  z-index: 400;
}

/* not just opacity, but transition height and width to grow from right to left */

.ANLuoq2GOx9WvRvddcjR {
  opacity: 1;
}

.SaGbxhcxIln6hpTb0Klg li {
  display: flex;
}

.SaGbxhcxIln6hpTb0Klg li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.SaGbxhcxIln6hpTb0Klg li:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Dropdown Button */

.fsRjQsePCOqWh1LwmMMg {
  position: relative;
}


/* User Notifications */

/* the transparent div overlay */
.F9PYmx_5X6rU17dx6cCf {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  inset: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 200;
}

/* the bottom sheet */
.MzJOiSKo0uK6jIHn7Lhb {
  --sheet-y: 100dvh;
  --drag-y: 0px;

  background-color: var(--surface);
  border-top: 1px solid var(--border);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh; 
  left: 0;
  position: fixed;
  transform: translate3d(0, calc(var(--sheet-y) + var(--drag-y)), 0);
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  touch-action: none; /* pan-y; */
  width: 100%;
  will-change: transform;
  /* This extra padding acts as a "buffer" so the bottom never shows when bouncing 
  padding-bottom: 50vh; 
  margin-bottom: -50vh; */
  box-sizing: content-box;
}

.da6_YKWlCyjDtU5uqVeI {
  --sheet-y: 50dvh;
}

.Xn87m1qQGnnpWjcvqJEn {
  --sheet-y: 8px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* create a global remove scrollbar css */
}

.Xbr3YpUie58bMj6nUAbA {
  --sheet-y: 100dvh;
}

.xM2iWPWsG_pZ6pNrA031 {
  opacity: 0;
}

.id614FJ74860566nJGEQ {
  transition: none !important;
}

/* the grabber handle */
.F9PYmx_5X6rU17dx6cCf section > div {
  background-color: #ccc;
  border-radius: 3px;
  height: 6px;
  margin: 0 auto;
  touch-action: none;
  width: 40px;

  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
}

/* the grabber handle active */
.F9PYmx_5X6rU17dx6cCf section div:active {
  background-color: #888;
}

.F9PYmx_5X6rU17dx6cCf ul {
  list-style-type: none;
  margin-top: 16px;
  width: 100%;
  padding-bottom: 12px;
  pointer-events: none;
  flex: 1; /* Takes up remaining space */
}

.F9PYmx_5X6rU17dx6cCf ul li {
  align-items: center;
  color: var(--text);
  display: flex;
  font-size: var(--font-size);
  justify-content: space-between;
  line-height: var(--line-height);
  margin-bottom: 8px;
  padding: 8px;
  pointer-events: none;
  width: 100%;
}

.F9PYmx_5X6rU17dx6cCf ul li div:nth-child(2) {
  flex: 1;
  margin-left: 8px;
}

.F9PYmx_5X6rU17dx6cCf ul li img {
  border-radius: 50px;
  height: 56px;
  width: 56px;

  /* remove the following, probably replace img with the custom "avatar" */
  border: 1px dotted white;
}

.F9PYmx_5X6rU17dx6cCf ul li div > div {
  display: flex;
  gap: 10px;
}




.VuK4CecepGSeSwTkC1CQ {
  margin-bottom: 8px;
}

.VuK4CecepGSeSwTkC1CQ label {
  color: var(--text);
  display: block;
  font-size: var(--font-size);
  margin: 0 0 8px 8px;
}

.VuK4CecepGSeSwTkC1CQ label span {
  color: red;
}

.VuK4CecepGSeSwTkC1CQ input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}

.VuK4CecepGSeSwTkC1CQ input:focus {
  outline: none;
}

.VuK4CecepGSeSwTkC1CQ input.Rol_kHJMa5uL048PMJot {
  border: 2px solid red;
}

.VuK4CecepGSeSwTkC1CQ p {
  color: red;
  margin: 4px 0 0 8px;
}

/* Authentication Login Form */

.JGSQMGJEsXFrIiWPZmsd {
  width: 100%;
}

.JGSQMGJEsXFrIiWPZmsd label {
  color: var(--text);
  display: block;
  font-size: var(--font-size);
  margin: 0 0 8px 8px;
}

.JGSQMGJEsXFrIiWPZmsd input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}

.JGSQMGJEsXFrIiWPZmsd input:focus {
  outline: none;
}

.ur4LjOV5j0lq6DRgWvDI {
  border: 2px solid red;
}

.JGSQMGJEsXFrIiWPZmsd p {
  color: red;
  margin: 4px 0 0 8px;
}

.JGSQMGJEsXFrIiWPZmsd button[type="submit"] {
  align-items: center;
  background: var(--button-bar-bg);
  border: var(--button-border);
  border-radius: 50px;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 32px 0;
  text-transform: uppercase;
  width: 100%;
}

/* Auth Login Flow Forgot Password Button */

.O4wFjYyL0P7NI8cYUcX3 {
  align-items: center;
  background: none;
  border: 4px solid var(--button-bar-bg);
  border-radius: 50px;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  min-height: 44px;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.O4wFjYyL0P7NI8cYUcX3:active {
  background: var(--button-active);
}

/* Federated Access with Google Button */

.YbU3lVTtOrXuukoFALAw {
  align-items: center;
  background: none;
  border: 4px solid var(--button-bar-bg);
  border-radius: 50px;
  color: var(--button-text);
  display: flex;
  font-size: var(--font-size);
  font-weight: bold;
  gap: 12px;
  min-height: 44px;
  justify-content: flex-start;
  margin: 32px 0;
  padding-left: 64px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.YbU3lVTtOrXuukoFALAw:active {
  background: var(--button-active);
}

.YbU3lVTtOrXuukoFALAw svg {
  fill: var(--button-text);
}

/* Federated Access with Apple Button */

.KxOGxU_EQPAmsER6H2BB {
  align-items: center;
  background: none;
  border: 4px solid var(--button-bar-bg);
  border-radius: 50px;
  color: var(--button-text);
  display: flex;
  font-size: var(--font-size);
  font-weight: bold;
  gap: 12px;
  min-height: 44px;
  justify-content: flex-start;
  padding-left: 64px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.KxOGxU_EQPAmsER6H2BB:active {
  background: var(--button-active);
}

.KxOGxU_EQPAmsER6H2BB svg {
  fill: var(--button-text);
}

/* User Authentication Flow, Login */

.ZN6CWqaJlKMfDaydN3QY {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.ZN6CWqaJlKMfDaydN3QY > div {
  align-items: center;
  background-color: var(--surface-raised);
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: safe center;
  left: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 16px 24px;
  position: fixed;
  top: 0;
  touch-action: none;
  width: 100%;
  z-index: 200;
}

/* Close button */
.ZN6CWqaJlKMfDaydN3QY > div > button:first-of-type {
  left: 8px;
  position: absolute;
  top: 8px;
}



.vbsjK61eJpBq2ev3NCQg {
  
}

.vbsjK61eJpBq2ev3NCQg canvas {
  border: 1px solid var(--input-bg);
  border-radius: 50%;
  display: block;
  height: 170px;
  margin: 0 auto 16px auto;
  width: 170px;
}

.vbsjK61eJpBq2ev3NCQg label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.vbsjK61eJpBq2ev3NCQg input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--input-text);
  font-size: var(--font-size);
  height: 44px;
  margin-bottom: 8px;
  padding: 0 8px;
  width: 100%;
}

.vbsjK61eJpBq2ev3NCQg input:focus {
  outline: none;
}

.vbsjK61eJpBq2ev3NCQg textarea {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--input-text);
  font-size: var(--font-size);
  height: 88px;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

.vbsjK61eJpBq2ev3NCQg input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.vbsjK61eJpBq2ev3NCQg button {
  align-items: center;
  background: var(--button-bar-bg);
  border: none;
  border-radius: 10px;
  color: var(--button-text);
  display: flex;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 8px;
  text-transform: uppercase;
  width: 100%;
}

/* Profile Top Nav Bar */

.N0xED37B7XKxGFVKqGiq {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

/* Profile Follow Button */

.lPq22vgzV_SkRROgFQcA {
  align-items: center;
  background: var(--button-bar-bg);
  border: 0;
  border-radius: 8px;
  color: var(--button-text);
  display: flex;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
  height: 44px;
  justify-content: center;  
  margin: 24px auto 0 auto;
  width: calc(100% - 48px);
}

.lPq22vgzV_SkRROgFQcA:focus {
  background: var(--button-bar-bg);
}

.lPq22vgzV_SkRROgFQcA:active {
  background: var(--button-bar-active);
}

/* Profile User Stat Following Button */

.LFQXA2zLBGoClhFiLyQh {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
}

.LFQXA2zLBGoClhFiLyQh:focus {
  background: initial;
}

/* Profile User Stat Following Button */

.OiYeL661hs5Ulbu4Wv0W {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
}

.OiYeL661hs5Ulbu4Wv0W:focus {
  background: initial;
}

/* Follow Stats List */

.NqptCRcHAXkX4aK4ROWp {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 24px;
}

/* User Profile */

.KIIoXhhSaQeQ2LSTtavI {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.KIIoXhhSaQeQ2LSTtavI > div {
  background-color: var(--surface-raised);
  inset: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.KIIoXhhSaQeQ2LSTtavI header img {
  background: gray;
  border-radius: 50%;
  display: block;
  height: 170px;
  margin: 0 auto 16px auto;
  width: 170px;
}

.KIIoXhhSaQeQ2LSTtavI header > div {
  padding: 0 16px;
}

.KIIoXhhSaQeQ2LSTtavI header h1 {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}

.KIIoXhhSaQeQ2LSTtavI address {
  font-size: var(--font-size);
  text-align: center;
}

.KIIoXhhSaQeQ2LSTtavI p {
  font-size: var(--font-size);
}


/* Register User Form Submit Button */

.QtyTYq44SDPCEzAnpVgb {
  align-items: center;
  background: var(--button-bar-bg);
  border: var(--button-border);
  border-radius: 50px;
  color: var(--button-bar-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 32px 0;
  text-transform: uppercase;
  width: 100%;
}

/* User Authentication Flow, Register User */

.oSMoVZYW2HrKOJTgWNU2 {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.oSMoVZYW2HrKOJTgWNU2 > div {
  background-color: var(--surface-raised);
  inset: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.gwvl3FGlxxJKPHo8y6lN {
  background-color: var(--success);
}

.HFk_KYH7SEjWLqi0WWzL {
  background-color: var(--danger);
}

.oSMoVZYW2HrKOJTgWNU2 button:last-of-type {
  align-items: center;
  background: var(--button-bar-bg);
  border: var(--button-border);
  border-radius: 50px;
  color: var(--button-bar-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 32px 0;
  text-transform: uppercase;
  width: 100%;
}

/* Close button */
.oSMoVZYW2HrKOJTgWNU2 button:first-of-type {
  left: 8px;
  position: absolute;
  top: 8px;
}

/* Search Overlay Top Nav */

.QdjQrTjRoefTV16Jm1Fo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

/* Search Form Input */

.p4TUZVPF8wqzulMquXkH {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 50px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 52px 0 44px;
  width: 100%;
}

.p4TUZVPF8wqzulMquXkH:focus {
  outline: none;
}

.p4TUZVPF8wqzulMquXkH::-webkit-search-decoration,
.p4TUZVPF8wqzulMquXkH::-webkit-search-cancel-button,
.p4TUZVPF8wqzulMquXkH::-webkit-search-results-button,
.p4TUZVPF8wqzulMquXkH::-webkit-search-results-decoration {
  cursor: pointer;
  padding-left: 8px;
}


/* Search Form Speech Recognition Button */

.mMtQZAl4NN2dDTDb2UHf {
  align-items: center; 
  background: none;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
}

.mMtQZAl4NN2dDTDb2UHf svg {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mMtQZAl4NN2dDTDb2UHf.sgiS4UCId20jusnAvnQA svg {
  fill: #00C853;
}

/* Search Form */

.FJMCQdB5zc5RgmizOMOi {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.FJMCQdB5zc5RgmizOMOi > div {
  background-color: var(--surface-raised);
  inset: 0;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.FJMCQdB5zc5RgmizOMOi nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.FJMCQdB5zc5RgmizOMOi form {
  position: relative;
}

.FJMCQdB5zc5RgmizOMOi form > svg:first-of-type {
  align-items: center; 
  display: flex;
  justify-content: center;
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 44px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 44px; 
}

.FJMCQdB5zc5RgmizOMOi > ul {
  list-style: none;
  margin-top: 8px;
  width: 100%;
}

.FJMCQdB5zc5RgmizOMOi > ul li {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 12px;
  width: 100%;
}

