/* Close Overlay Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Dropdown Button */

.abpuI_3Na2ydJj24PSqD {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  color: var(--dropdown-text);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 10px;
  width: 44px;
}

/* Dropdown List Item Button */

.OGbMvckCuIXNF7ZaS8mY {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-weight: bold;
  gap: 8px;
  height: 44px;
  justify-content: flex-start;
  padding: 0 8px;
  width: 100%;
}



/* Dropdown List */

.SaGbxhcxIln6hpTb0Klg {
  background-color: var(--dropdown-bg);
  border: 1px solid var(--dropdown-border);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  min-width: 200px;
  padding: 8px 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 48px;
  transition: opacity 0.2s ease-in-out;
  z-index: 400;
}

/* not just opacity, but transition height and width to grow from right to left */

.ANLuoq2GOx9WvRvddcjR {
  opacity: 1;
}

.SaGbxhcxIln6hpTb0Klg li {
  display: flex;
}

.SaGbxhcxIln6hpTb0Klg li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.SaGbxhcxIln6hpTb0Klg li:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Dropdown Button */

.fsRjQsePCOqWh1LwmMMg {
  position: relative;
}


/* Feed Node Top Nav */

.RDylejBr3Rzb8YpYfiDx {
  align-items: center;
  display: flex;
  justify-content: flex-end; 
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.REkiBsBquIxux6uYLtzV {
  justify-content: space-between;
}

/* Video Overlay Buttons Like Button */

.tPgn6_d8EcB9qbtXe5Ke {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Video Overlay Buttons Comments Button */

.u93giZHNw1r8XONVVjuT {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Video Overlay Buttons Share Button */

.QyOWKukTcDhXHdC6M19r {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Node Overlay Buttons Fullscreen Button */

.gwFM11KfM2Zh3vK3llzI {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Node Side Nav */

.e2IegedGqgKHDJ9K5GKq {
  bottom: 64px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 48px;
  z-index: 20;
}

/* Feed Node */

.QNshFBXSoGNyBxo7mpBY figure {
  display: block;
  height: 100dvh;

  padding: 
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* touch-action: none; */
  width: 100%;
  z-index: 10;

  max-width: 500px;
  margin: 0 auto 4px auto;

  background: #666; 
  border-radius: 10px;
}


.QNshFBXSoGNyBxo7mpBY figcaption {
  bottom: 72px;
  left: 16px;
  position: absolute;
}

/* Feed */

.FXju5x6KeXy0fnVXd9I2 {  
  height: 100dvh;
  
  padding: 
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  
  scroll-behavior: smooth;  
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch; 

  scrollbar-width: none; /* Hide scrollbar for Firefox (Standard) */  
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */

  overflow-x: hidden;
  overflow-y: auto;   /* Ensure scrolling is still enabled */
  overscroll-behavior-y: contain;
  
  transform: translateZ(0);
  will-change: scroll-position;
  z-index: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera (Mobile & Desktop) */
.FXju5x6KeXy0fnVXd9I2::-webkit-scrollbar {
  display: none;
}


:root {
  /* set in global root:  When NOT in fullscreen, use a default offset */
  --notch-height: 0px;
}

/* Automatically detect when the page or element enters fullscreen */
.FXju5x6KeXy0fnVXd9I2:fullscreen {
  --notch-height: env(safe-area-inset-top);
}

/*.topNav {
  /* Shift your header down using the variable 
  margin-top: var(--notch-height); */
  
  /* Optional: Use max() to ensure a minimum 20px even in fullscreen */
  /* margin-top: max(20px, var(--notch-height)); 
} */

