/* Dropdown Button */

.abpuI_3Na2ydJj24PSqD {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  color: var(--dropdown-text);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 10px;
  touch-action: auto;
  width: 44px;
}

/* Dropdown List Item Button */

.OGbMvckCuIXNF7ZaS8mY {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-weight: bold;
  gap: 8px;
  height: 44px;
  justify-content: flex-start;
  padding: 0 8px;
  width: 100%;
}



/* Dropdown List */

.SaGbxhcxIln6hpTb0Klg {
  background-color: var(--dropdown-bg);
  border: 1px solid var(--dropdown-border);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  min-width: 200px;
  padding: 8px 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 48px;
  transition: opacity 0.2s ease-in-out;
  z-index: 400;
}

/* not just opacity, but transition height and width to grow from right to left */

.ANLuoq2GOx9WvRvddcjR {
  opacity: 1;
}

.SaGbxhcxIln6hpTb0Klg li {
  display: flex;
}

.SaGbxhcxIln6hpTb0Klg li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.SaGbxhcxIln6hpTb0Klg li:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Dropdown Button */

.fsRjQsePCOqWh1LwmMMg {
  position: relative;
}


/* Feed Node Top Nav */

.RDylejBr3Rzb8YpYfiDx {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-left: 8px;
  padding-top: 4px;
  position: absolute;
  top: 0;
  width: 100%;
}

.RDylejBr3Rzb8YpYfiDx > div:first-of-type {
  align-items: center;
  display: flex;
  gap: 8px;
}

@media (display-mode: standalone) {
  .RDylejBr3Rzb8YpYfiDx {
    padding-top: env(safe-area-inset-top);
  }
}

/* Video Overlay Buttons Like Button */

.tPgn6_d8EcB9qbtXe5Ke {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Video Overlay Buttons Comments Button */

.u93giZHNw1r8XONVVjuT {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Video Overlay Buttons Share Button */

.QyOWKukTcDhXHdC6M19r {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Node Overlay Buttons Fullscreen Button */

.gwFM11KfM2Zh3vK3llzI {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Location Button */

.XX3tiDHS9iPMFdtJCXrv {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Node Side Nav */

.e2IegedGqgKHDJ9K5GKq {
  bottom: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  touch-action: auto;
  width: 48px;
}

/* Close Button */

.nRmVNOUPXPt07q2izPkS {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 10px;
  width: 44px;
}

/* Comments Top Nav Bar */

.nXoS5gL32zb6iiymIjaR {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 16px;
  width: 100%;
}


/* Feed Comments Form */

.Ncbs8UQPXbDntYupAwAK {
  align-items: center;
  background: var(--surface-raised);
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
  display: flex;
  left: 0;
  padding: 8px 0 8px 8px;
  position: fixed;
  bottom: env(keyboard-inset-height, 0);
  width: 100%;
  z-index: 250;
}

.Ncbs8UQPXbDntYupAwAK textarea {
  border-radius: 10px;
  field-sizing: content;
  font-size: var(--font-size);
  max-height: 152px;
  min-height: 48px;
  overflow: hidden; /* Hide scrollbars */
  padding: 8px;
  resize: none; /* Disable manual resize */
  width: 100%;
}

.Ncbs8UQPXbDntYupAwAK textarea:focus {
  outline: none;
}

.Ncbs8UQPXbDntYupAwAK button {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 44px;
  width: 44px;
}


/* Feed Node Comments System */

.B1u4yoaXrqQwWpu_SIbH {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.1s ease-in, opacity 0.5s ease-out;
  z-index: 150;
}

.uoscghNXGwijRME3XZY7 {
  background-color: var(--surface-raised);
  height: 100dvh;
  padding: 8px;
  position: fixed;
  right: 0;
  top: 0;
  touch-action: pan-y;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 200;
}

.jxIdzEO4hgkWkmA8kQQ7 {
  transform: translate3d(0, 0, 0);
}

.S6Ix9GDpnIoFxzyIpZtA {
  transform: translate3d(100%, 0, 0);
}

.uoscghNXGwijRME3XZY7 ul {
  list-style: none;
  overflow-y: auto;
  width: 100%;
  margin-top: 56px;
  padding-bottom: 48px; /* needs padding to not get stuck behind sticky form */
}

/* Feed Node */

.QNshFBXSoGNyBxo7mpBY {
  box-sizing: border-box;
  display: block;
  min-height: calc(100dvh - 64px);
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;

  max-width: 500px;
  margin: 0 auto 4px auto;
  touch-action: none;

  background: #666; 
  border-bottom: 2px solid var(--dark-black);
}

.QNshFBXSoGNyBxo7mpBY figcaption {
  bottom: 8px;
  left: 16px;
  line-height: var(--line-height);
  margin-top: auto;
  margin-right: 48px;
  position: absolute;
  touch-action: auto;
}

/* Feed */

.FXju5x6KeXy0fnVXd9I2 {  
  min-height: 100dvh;
  
  /*
  scroll-behavior: smooth;  
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch; 

  scrollbar-width: none; 
  -ms-overflow-style: none; 

  overflow-x: hidden;
  overflow-y: auto;  
  overscroll-behavior-y: contain;
  
  transform: translateZ(0);
  will-change: scroll-position;
  */
}

