/* Close Overlay Back Button */

._4sofJChA5hme8ZvWn_aX {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
  z-index: 300;
}

/* User Dashboard */

.FlKf9UiiLCEgBH_Mh5z0 {
  color: white;
  height: 100dvh;
  width: 100%;
}

/* Editor Pause Button */

.IJOtT_cBtyaXMSGQddo3 {
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  margin-top: 8px;
  padding: 10px;
  width: 44px;
  z-index: 300;
}

.IJOtT_cBtyaXMSGQddo3:focus {
  background: rgba(0, 0, 0, 0.5);
}

.IJOtT_cBtyaXMSGQddo3:active {
  background: rgba(0, 0, 0, 0.5);
}

/* Editor Mute Button */

.W_0ifa3sSCG7el4sjngQ {
  align-items: center; 
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  margin-top: 8px;
  padding: 10px;
  width: 44px;
  z-index: 300;
}

.W_0ifa3sSCG7el4sjngQ:focus {
  background: rgba(0, 0, 0, 0.5);
}

.W_0ifa3sSCG7el4sjngQ:active {
  background: rgba(0, 0, 0, 0.5);
}

/* Editor TopNav */

.C_ZpIG2VEr74P55yNrig {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 8px;
  padding-top: env(safe-area-inset-top);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
}

.C_ZpIG2VEr74P55yNrig > button:first-child {
  background: rgba(0, 0, 0, 0.5);
}

.C_ZpIG2VEr74P55yNrig div {
  align-items: center;
  display: flex;
  gap: 16px;
}

/* Editor Video Custom Progress Bar */

.wt5dHgSjceSJyM7Sz9yE {
  background: rgba(255, 255, 255, 0.3);
  bottom: 64px;
  cursor: pointer;
  height: 8px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - 16px);
  z-index: 300;
}

.wt5dHgSjceSJyM7Sz9yE div {
  background: #ff0000; /* Red progress bar */
  height: 100%;
  transition: width 0.1s linear;
  width: 0;
}


.VuK4CecepGSeSwTkC1CQ {
  margin-bottom: 8px;
}

.VuK4CecepGSeSwTkC1CQ label {
  color: var(--text);
  display: block;
  font-size: var(--font-size);
  margin: 0 0 8px 8px;
}

.VuK4CecepGSeSwTkC1CQ label span {
  color: red;
}

.VuK4CecepGSeSwTkC1CQ input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}

.VuK4CecepGSeSwTkC1CQ input:focus {
  outline: none;
}

.VuK4CecepGSeSwTkC1CQ input.Rol_kHJMa5uL048PMJot {
  border: 2px solid red;
}

.VuK4CecepGSeSwTkC1CQ p {
  color: red;
  margin: 4px 0 0 8px;
}

/* Editor Menu */

.pqVzoMNn04RuymDNZ8zc {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  z-index: 350;
}

.pqVzoMNn04RuymDNZ8zc > button {
  background: rgba(0, 0, 0, 0.5);
  margin: 8px 0 0 8px;
  z-index: 450;
}

.pqVzoMNn04RuymDNZ8zc ul {
  background: none;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  margin-top: 56px;
  z-index: 400;
}

.pqVzoMNn04RuymDNZ8zc ul li {}

.pqVzoMNn04RuymDNZ8zc ul li button {
  align-items: center; 
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.pqVzoMNn04RuymDNZ8zc ul li:first-of-type button {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.pqVzoMNn04RuymDNZ8zc ul li button:focus {
  background: none;
}

.pqVzoMNn04RuymDNZ8zc ul li button:active {
  background: rgba(0, 0, 0, 0.5);
}

/* Editor Edit Button */

.OcocoOhbnnj_MS8JUy5r {
  align-items: center; 
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  bottom: 8px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  left: 8px;
  padding: 10px;
  position: absolute;
  right: 8px;
  width: 44px;
  z-index: 300;
}

.OcocoOhbnnj_MS8JUy5r:focus {
  background: rgba(0, 0, 0, 0.5);
}

.OcocoOhbnnj_MS8JUy5r:active {
  background: rgba(0, 0, 0, 0.5);
}

/* Editor Submit Button */

.LpfU56yJXGiw0QN1Sn9d {
  align-items: center; 
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  bottom: 8px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  right: 8px;
  width: 44px;
  z-index: 300;
}

/* Video Editor */

.CAdCu73p1zUC0PuOriuX {
  contain: content;
  height: 100dvh;
  inset: 0;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  z-index: 200;
}

.CAdCu73p1zUC0PuOriuX video {
  object-fit: cover;
  height: 100dvh;
  inset: 0;
  position: absolute;
  z-index: 250;
}

/* Dropdown Button */

.abpuI_3Na2ydJj24PSqD {
  align-items: center; 
  background: none;
  border: 0;
  border-radius: 50px;
  color: var(--dropdown-text);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  padding: 10px;
  touch-action: auto;
  width: 44px;
}

/* Dropdown List Item Button */

.OGbMvckCuIXNF7ZaS8mY {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-weight: bold;
  gap: 8px;
  height: 44px;
  justify-content: flex-start;
  padding: 0 8px;
  width: 100%;
}



/* Dropdown List */

.SaGbxhcxIln6hpTb0Klg {
  background-color: var(--dropdown-bg);
  border: 1px solid var(--dropdown-border);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  min-width: 200px;
  padding: 8px 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 48px;
  transition: opacity 0.2s ease-in-out;
  z-index: 400;
}

/* not just opacity, but transition height and width to grow from right to left */

.ANLuoq2GOx9WvRvddcjR {
  opacity: 1;
}

.SaGbxhcxIln6hpTb0Klg li {
  display: flex;
}

.SaGbxhcxIln6hpTb0Klg li:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.SaGbxhcxIln6hpTb0Klg li:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Dropdown Button */

.fsRjQsePCOqWh1LwmMMg {
  position: relative;
}


/* User Notifications */

/* the transparent div overlay */
.F9PYmx_5X6rU17dx6cCf {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  inset: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 200;
}

/* the bottom sheet */
.MzJOiSKo0uK6jIHn7Lhb {
  --sheet-y: 100dvh;
  --drag-y: 0px;

  background-color: var(--surface);
  border-top: 1px solid var(--border);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh; 
  left: 0;
  position: fixed;
  transform: translate3d(0, calc(var(--sheet-y) + var(--drag-y)), 0);
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  touch-action: none;
  width: 100%;
  will-change: transform;
  box-sizing: content-box;
}

.da6_YKWlCyjDtU5uqVeI {
  --sheet-y: 50dvh;
}

.Xn87m1qQGnnpWjcvqJEn {
  --sheet-y: 8px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* create a global remove scrollbar css */
}

.Xbr3YpUie58bMj6nUAbA {
  --sheet-y: 100dvh;
}

.xM2iWPWsG_pZ6pNrA031 {
  opacity: 0;
}

.id614FJ74860566nJGEQ {
  transition: none !important;
}

/* the grabber handle */
.F9PYmx_5X6rU17dx6cCf section > div {
  background-color: #ccc;
  border-radius: 3px;
  height: 6px;
  margin: 0 auto;
  width: 40px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
}

/* the grabber handle active */
.F9PYmx_5X6rU17dx6cCf section div:active {
  background-color: #888;
}

.F9PYmx_5X6rU17dx6cCf section > ul {
  list-style-type: none;
  margin-top: 16px;
  width: 100%;
  padding-bottom: 12px;
  flex: 1; /* Takes up remaining space */
}

.F9PYmx_5X6rU17dx6cCf section > ul > li {
  align-items: center;
  color: var(--text);
  display: flex;
  font-size: var(--font-size);
  justify-content: space-between;
  line-height: var(--line-height);
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

.F9PYmx_5X6rU17dx6cCf section > ul li div:nth-child(2) {
  flex: 1;
  margin-left: 8px;
  pointer-events: none;

  border: 1px dashed red;
}

.F9PYmx_5X6rU17dx6cCf section > ul li div:nth-child(2) div {
  display: flex;
  gap: 10px;
  pointer-events: none;
}



/* Authentication Login Form */

.JGSQMGJEsXFrIiWPZmsd {
  width: 100%;
}

/*

.loginForm label {
  color: var(--text);
  display: block;
  font-size: var(--font-size);
  margin: 0 0 8px 8px;
}

.loginForm input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}


.loginForm input:focus {
  outline: none;
}

.invalid {
  border: 2px solid red;
}

.loginForm p {
  color: red;
  margin: 4px 0 0 8px;
}

*/

.JGSQMGJEsXFrIiWPZmsd button[type="submit"] {
  align-items: center;
  background: var(--button-bar-bg);
  border: var(--button-border);
  border-radius: 50px;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 32px 0;
  text-transform: uppercase;
  width: 100%;
}

/* Auth Login Flow Forgot Password Button */

.O4wFjYyL0P7NI8cYUcX3 {
  align-items: center;
  background: none;
  border: 4px solid var(--button-bar-bg);
  border-radius: 50px;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  min-height: 44px;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.O4wFjYyL0P7NI8cYUcX3:active {
  background: var(--button-active);
}

/* Federated Access with Google Button */

.YbU3lVTtOrXuukoFALAw {
  align-items: center;
  background: none;
  border: 4px solid var(--button-bar-bg);
  border-radius: 50px;
  color: var(--button-text);
  display: flex;
  font-size: var(--font-size);
  font-weight: bold;
  gap: 12px;
  min-height: 44px;
  justify-content: flex-start;
  margin: 32px 0;
  padding-left: 64px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.YbU3lVTtOrXuukoFALAw:active {
  background: var(--button-active);
}

.YbU3lVTtOrXuukoFALAw svg {
  fill: var(--button-text);
}

/* Federated Access with Apple Button */

.KxOGxU_EQPAmsER6H2BB {
  align-items: center;
  background: none;
  border: 4px solid var(--button-bar-bg);
  border-radius: 50px;
  color: var(--button-text);
  display: flex;
  font-size: var(--font-size);
  font-weight: bold;
  gap: 12px;
  min-height: 44px;
  justify-content: flex-start;
  padding-left: 64px;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

.KxOGxU_EQPAmsER6H2BB:active {
  background: var(--button-active);
}

.KxOGxU_EQPAmsER6H2BB svg {
  fill: var(--button-text);
}

/* User Authentication Flow, Login */

.ZN6CWqaJlKMfDaydN3QY {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.ZN6CWqaJlKMfDaydN3QY > div {
  align-items: center;
  background-color: var(--surface-raised);
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  inset: 0;
  justify-content: safe center;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 16px 24px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

/* Close button */
.ZN6CWqaJlKMfDaydN3QY > div > button:first-of-type {
  left: 8px;
  position: absolute;
  top: 8px;
}



.vbsjK61eJpBq2ev3NCQg {
  
}

.vbsjK61eJpBq2ev3NCQg canvas {
  border: 1px solid var(--input-bg);
  border-radius: 50%;
  display: block;
  height: 170px;
  margin: 0 auto 16px auto;
  width: 170px;
}

/*
.editForm label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
*/

.vbsjK61eJpBq2ev3NCQg textarea {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--input-text);
  font-size: var(--font-size);
  height: 88px;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

.vbsjK61eJpBq2ev3NCQg textarea:focus {
  outline: none;
}

.vbsjK61eJpBq2ev3NCQg input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.vbsjK61eJpBq2ev3NCQg button {
  align-items: center;
  background: var(--button-bar-bg);
  border: none;
  border-radius: 10px;
  color: var(--button-text);
  display: flex;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 8px;
  text-transform: uppercase;
  width: 100%;
}

/* Profile Top Nav Bar */

.N0xED37B7XKxGFVKqGiq {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

/* Profile Follow Button */

.lPq22vgzV_SkRROgFQcA {
  align-items: center;
  background: var(--button-bar-bg);
  border: 0;
  border-radius: 8px;
  color: var(--button-text);
  display: flex;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
  height: 44px;
  justify-content: center;  
  margin: 24px auto 0 auto;
  width: calc(100% - 48px);
}

.lPq22vgzV_SkRROgFQcA:focus {
  background: var(--button-bar-bg);
}

.lPq22vgzV_SkRROgFQcA:active {
  background: var(--button-active);
}

/* Profile User Stat Following Button */

.LFQXA2zLBGoClhFiLyQh {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
}

.LFQXA2zLBGoClhFiLyQh:focus {
  background: initial;
}

/* Profile User Stat Following Button */

.OiYeL661hs5Ulbu4Wv0W {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
}

.OiYeL661hs5Ulbu4Wv0W:focus {
  background: initial;
}

/* Follow Stats List */

.NqptCRcHAXkX4aK4ROWp {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 24px;
}

/* Feed Node Top Nav */

.RDylejBr3Rzb8YpYfiDx {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-left: 8px;
  padding-top: 4px;
  position: absolute;
  top: 0;
  touch-action: auto;
  width: 100%;
}

.RDylejBr3Rzb8YpYfiDx > div:first-of-type {
  align-items: center;
  display: flex;
  gap: 8px;
}

@media (display-mode: standalone) {
  .RDylejBr3Rzb8YpYfiDx {
    padding-top: env(safe-area-inset-top);
  }
}

/* Video Overlay Buttons Like Button */

.tPgn6_d8EcB9qbtXe5Ke {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Video Overlay Buttons Comments Button */

.u93giZHNw1r8XONVVjuT {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Video Overlay Buttons Share Button */

.QyOWKukTcDhXHdC6M19r {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Node Overlay Buttons Fullscreen Button */

.gwFM11KfM2Zh3vK3llzI {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Location Button */

.XX3tiDHS9iPMFdtJCXrv {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
}

/* Feed Node Side Nav */

.e2IegedGqgKHDJ9K5GKq {
  bottom: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  touch-action: auto;
  width: 48px;
}

/* Comments Top Nav Bar */

.nXoS5gL32zb6iiymIjaR {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 16px;
  width: 100%;
}


/* Feed Comments Form */

.Ncbs8UQPXbDntYupAwAK {
  align-items: center;
  background: var(--surface-raised);
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
  display: flex;
  left: 0;
  padding: 8px 0 8px 8px;
  position: fixed;
  bottom: env(keyboard-inset-height, 0);
  width: 100%;
  z-index: 250;
}

.Ncbs8UQPXbDntYupAwAK textarea {
  border-radius: 10px;
  field-sizing: content;
  font-size: var(--font-size);
  max-height: 152px;
  min-height: 48px;
  overflow: hidden; /* Hide scrollbars */
  padding: 8px;
  resize: none; /* Disable manual resize */
  width: 100%;
}

.Ncbs8UQPXbDntYupAwAK textarea:focus {
  outline: none;
}

.Ncbs8UQPXbDntYupAwAK button {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 44px;
  width: 44px;
}


/* Feed Node Comments System */

.B1u4yoaXrqQwWpu_SIbH {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.1s ease-in, opacity 0.5s ease-out;
  z-index: 150;
}

.uoscghNXGwijRME3XZY7 {
  background-color: var(--surface-raised);
  height: 100dvh;
  padding: 8px;
  position: fixed;
  right: 0;
  top: 0;
  touch-action: pan-y;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 200;
}

.jxIdzEO4hgkWkmA8kQQ7 {
  transform: translate3d(0, 0, 0);
}

.S6Ix9GDpnIoFxzyIpZtA {
  transform: translate3d(100%, 0, 0);
}

.uoscghNXGwijRME3XZY7 ul {
  list-style: none;
  overflow-y: auto;
  width: 100%;
  margin-top: 56px;
  padding-bottom: 48px; /* needs padding to not get stuck behind sticky form */
}

/* Feed Node */

.QNshFBXSoGNyBxo7mpBY {
  box-sizing: border-box;
  display: block;
  max-width: 500px;
  margin: 0 auto 4px auto;
  min-height: calc(100dvh - 64px);
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  touch-action: manipulation;
  width: 100%;

  background: #666; 
  border-bottom: 2px solid var(--dark-black);
}

.QNshFBXSoGNyBxo7mpBY figcaption {
  bottom: 8px;
  left: 16px;
  line-height: var(--line-height);
  margin-top: auto;
  margin-right: 48px;
  position: absolute;
}

/* Feed */

.FXju5x6KeXy0fnVXd9I2 {  
  min-height: 100dvh;
  
  /*
  scroll-behavior: smooth;  
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch; 

  scrollbar-width: none; 
  -ms-overflow-style: none; 

  overflow-x: hidden;
  overflow-y: auto;  
  overscroll-behavior-y: contain;
  
  transform: translateZ(0);
  will-change: scroll-position;
  */
}

/* User Profile */

.KIIoXhhSaQeQ2LSTtavI {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.KIIoXhhSaQeQ2LSTtavI > div {
  background-color: var(--surface-raised);
  height: 100dvh;
  inset: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.KIIoXhhSaQeQ2LSTtavI header img {
  background: gray;
  border-radius: 50%;
  display: block;
  height: 128px;
  margin: 0 auto 16px auto;
  width: 128px;
}

.KIIoXhhSaQeQ2LSTtavI header h1 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 8px;
  text-align: center;
}

.KIIoXhhSaQeQ2LSTtavI header address {
  font-size: var(--font-size);
  text-align: center;
}

.KIIoXhhSaQeQ2LSTtavI header p {
  font-size: var(--font-size);
}


/* Register User Form Submit Button */

.QtyTYq44SDPCEzAnpVgb {
  align-items: center;
  background: var(--button-bar-bg);
  border: var(--button-border);
  border-radius: 50px;
  color: var(--button-bar-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 32px 0;
  text-transform: uppercase;
  width: 100%;
}

/* User Authentication Flow, Register User */

.oSMoVZYW2HrKOJTgWNU2 {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.oSMoVZYW2HrKOJTgWNU2 > div {
  align-items: center;
  background-color: var(--surface-raised);
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  inset: 0;
  justify-content: safe center;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 16px 24px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.oSMoVZYW2HrKOJTgWNU2 form {
  width: 100%;
}

.gwvl3FGlxxJKPHo8y6lN {
  background-color: var(--success);
}

.HFk_KYH7SEjWLqi0WWzL {
  background-color: var(--danger);
}

/* Close button */
.oSMoVZYW2HrKOJTgWNU2 > div > button {
  left: 8px;
  position: absolute;
  top: 8px;
}

/* Search Overlay Top Nav */

.QdjQrTjRoefTV16Jm1Fo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

/* Search Form Input */

.p4TUZVPF8wqzulMquXkH {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 50px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 52px 0 44px;
  width: 100%;
}

.p4TUZVPF8wqzulMquXkH:focus {
  outline: none;
}

.p4TUZVPF8wqzulMquXkH::-webkit-search-decoration,
.p4TUZVPF8wqzulMquXkH::-webkit-search-cancel-button,
.p4TUZVPF8wqzulMquXkH::-webkit-search-results-button,
.p4TUZVPF8wqzulMquXkH::-webkit-search-results-decoration {
  cursor: pointer;
  padding-left: 8px;
}


/* Search Form Speech Recognition Button */

.mMtQZAl4NN2dDTDb2UHf {
  align-items: center; 
  background: none;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
}

.mMtQZAl4NN2dDTDb2UHf svg {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mMtQZAl4NN2dDTDb2UHf.sgiS4UCId20jusnAvnQA svg {
  fill: #00C853;
}

/* Search Results List */

.L5vDWmbThsw3ZFpe87dA article {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-bottom: 8px;
  position: relative;
  width: 100%;

  border: 1px dashed red;
}

/* Avatar: */
.L5vDWmbThsw3ZFpe87dA article header button {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.L5vDWmbThsw3ZFpe87dA article header {
  margin: 0 44px;

  border: 1px dashed green;
}

.L5vDWmbThsw3ZFpe87dA article header h2 {
  display: inline-block;
  margin-right: 16px;
}

.L5vDWmbThsw3ZFpe87dA article header time {
  display: inline-block;
}

.L5vDWmbThsw3ZFpe87dA article > div {
  margin: 0 44px;

  border: 1px dashed green;
}

/* Dropdown */
.L5vDWmbThsw3ZFpe87dA article footer div {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  border: 1px dashed orange;
}


/* Search Form */

.FJMCQdB5zc5RgmizOMOi {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.FJMCQdB5zc5RgmizOMOi > div {
  background-color: var(--surface-raised);
  height: 100dvh;
  inset: 0;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.FJMCQdB5zc5RgmizOMOi nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.FJMCQdB5zc5RgmizOMOi form {
  position: relative;
}

.FJMCQdB5zc5RgmizOMOi form > svg:first-of-type {
  align-items: center; 
  display: flex;
  justify-content: center;
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 44px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 44px; 
}

.FJMCQdB5zc5RgmizOMOi > ul {
  list-style: none;
  margin-top: 16px;
  width: 100%;
  padding-bottom: 12px;
  flex: 1; /* Takes up remaining space */
}

/*
.search > ul li {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 12px;
  width: 100%;
}
*/

/* Camera Record Timer CSS Module */

.eMX9z6ucsI6TY2qFosg_ {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white; 
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px;
  z-index: 300;
}

/* Camera Light Button CSS Module */

.qeDCFHmOLLQ6RhZ3jRgv {
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 44px;
  z-index: 300;
}

/* Camera Top Nav */

.hsMMxPOGMwYePPF8X1Uw {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 8px;
  padding-top: env(safe-area-inset-top);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
}

.hsMMxPOGMwYePPF8X1Uw button:first-child {
  background: rgba(0, 0, 0, 0.5);
}

/* Camera Video Editor Button */

.WRhEMC9VW14ASSgUYhLk {
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  bottom: 8px;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 8px;
  width: 44px;
  z-index: 300;
}

/* Camera Record Button CSS Module */

.zy3wUJ2yQGHccXBYBFsi { 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 10px;
  width: 78px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;
}

.ynsHm1FSPyzP1nI0wydR {
  background-color: #e5e4e2;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  height: 56px;
  padding: 0 26px; 
}

.ynsHm1FSPyzP1nI0wydR:hover {
  background-color: #f2f3f4;
}

.uSk0yOn1xxcdbgncyotI:active {
  background-color: #cb4154;
}

/* Camera Mute Button CSS Module */

.fgGSIBDOKZE1mF3U2Jdl {
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  bottom: 8px;
  display: flex;
  height: 44px;
  justify-content: center;
  left: 8px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  width: 44px;
  z-index: 300;
}

/* Camera View Port CSS Module */

.WO59Lztrgm4QDJ43r9SB { 
  object-fit: cover;
  height: 100dvh;
  inset: 0;
  position: absolute;
  z-index: 250;
}

/* camera */

.uTJ9BwS3Fi8DgXcwIUuB {
  contain: content;
  height: 100dvh;
  inset: 0;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  z-index: 200;
}

/* Publisher Overlay */

.qlaG5Gv1ORFLSpP42REH {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;

  border: 2px dashed magenta;
}

.qlaG5Gv1ORFLSpP42REH > div {
  background-color: var(--surface-raised);
  height: 100dvh;
  inset: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.qlaG5Gv1ORFLSpP42REH textarea {
  width: 100%;
}

/* Wizard */

.x7wVgu7Jwz11Iv3F76J4 {
  height: 100dvh;
  inset: 0;
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  position: fixed;
  z-index: 200;
}


/*# sourceMappingURL=894.css.map*/