/* Text Field for Profile Text Editing (username, address) */

.textField {
  position: relative;
  margin: 0 auto;
  max-width: 200px;
  height: 24px;

  border: 1px dashed orange;
}

.textField input {
  background: var(--input-bg);
  border-radius: 50px;
  color: var(--input-text);

}

.textField span {

  border: 1px dashed red;
}
