/* Text Field for Profile Text Editing (username, address) */

.textField {
  position: relative;
}

.textField input {
  background: var(--input-bg);
  border-radius: 10px;
  color: var(--input-text);
  padding: 4px 8px;
  margin: 0 auto;
  max-width: 50px;
}

.textField span {
  
}
