/* Text Field for Profile Text Editing (username, address) */

.textField {
  align-items: center;
  color: var(--text);
  display: flex;
  height: 44px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: fit-content;

  border: 1px dashed yellow;
}

/* The "Condition": Only triggers if a button is present */
.textField:has(button) {
  padding: 0 44px;
}

.textField:has(input) {
  padding: 0;
}

.textField input {
  background: var(--input-bg);
  border: none;
  border-radius: 50px;
  color: var(--input-text);
  height: 100%;
  margin: 4px 0;
  text-align: center;
}

.textField span {

}
