/* Video Editor */

.videoEditor {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.videoEditor div {
  
}

.videoEditor video {
  object-fit: cover;
  height: 100dvh;
  inset: 0;
  position: absolute;
  width: 100%;
  z-index: 250;
}
