/* Search Results List */

.searchResults article {
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-bottom: 8px;
  position: relative;
  width: 100%;

  border: 1px dashed red;
}

/* Avatar: */
.searchResults article header button {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.searchResults article header {
  margin: 0 44px;

  border: 1px dashed green;
}

.searchResults article header h2 {
  display: inline-block;
  margin-right: 16px;
}

.searchResults article header time {
  display: inline-block;
}

.searchResults article > div {
  margin: 0 44px;

  border: 1px dashed green;
}

/* Dropdown */
.searchResults article footer div {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  border: 1px dashed orange;
}

