/* Search Results List */

.searchResults {
  align-items: center;
  color: var(--text);
  display: flex;
  font-size: var(--font-size);
  justify-content: space-between;
  line-height: var(--line-height);
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

.searchResults > div:nth-child(2) {
  flex: 1;
  margin-left: 8px;

  border: 1px dashed green;
}

.searchResults div:nth-child(2) :nth-child(1) {
  display: flex;
  gap: 10px;

  border: 1px dashed red;
}


