/* User Profile Edit Button */

.editImageButton {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: -22px;
  bottom: 22px;
  width: 44px;

  border: 1px dashed red;
}

