/* Feed */


.feed {
/*
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  scroll-behavior: smooth;  
  
  overscroll-behavior-y: contain;

  transform: translateZ(0);
  will-change: scroll-position;
  */
   z-index: 0;
}
