/* Feed */

.feed {  
  --feed-height: 100dvh;
  height: 100dvh;
  
  padding: 
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  
  scroll-behavior: smooth;  
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch; 

  scrollbar-width: none; /* Hide scrollbar for Firefox (Standard) */  
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */

  overflow-x: hidden;
  overflow-y: auto;   /* Ensure scrolling is still enabled */
  overscroll-behavior-y: contain;
  
  transform: translateZ(0);
  will-change: scroll-position;
  z-index: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera (Mobile & Desktop) */
.feed::-webkit-scrollbar {
  display: none;
}


:root {
  /* set in global root:  When NOT in fullscreen, use a default offset */
  --notch-height: 0px;
}

/* Automatically detect when the page or element enters fullscreen */
.feed:fullscreen {
  --feed-height: 100vh;
  --notch-height: env(safe-area-inset-top);
  width: 100vw;
  height: 100vh;
}

/*.topNav {
  /* Shift your header down using the variable 
  margin-top: var(--notch-height); */
  
  /* Optional: Use max() to ensure a minimum 20px even in fullscreen */
  /* margin-top: max(20px, var(--notch-height)); 
} */
