/* Feed */

.feed {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;

  padding: 
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  
  scroll-behavior: smooth;  
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none;
  transform: translateZ(0);
  will-change: scroll-position;
  z-index: 0;
}

:root {
  /* When NOT in fullscreen, use a default 20px offset */
  --notch-height: 20px;
}

/* Automatically detect when the page or element enters fullscreen */
:is(:fullscreen, :root:fullscreen, body:fullscreen) {
  /* In fullscreen, use the actual notch height (0px if no notch) */
  --notch-height: env(safe-area-inset-top);
}

/*.topNav {
  /* Shift your header down using the variable 
  margin-top: var(--notch-height); */
  
  /* Optional: Use max() to ensure a minimum 20px even in fullscreen */
  /* margin-top: max(20px, var(--notch-height)); 
} */
