/* Editor Video Custom Progress Bar */

.progressBar {
  background: rgba(255, 255, 255, 0.3);
  bottom: 52px;
  cursor: pointer;
  height: 8px;
  left: 8px;
  position: absolute;
  right: 8px;
  width: 100%;
}

.progressBar div {
  background: #ff0000; /* Red progress bar */
  height: 100%;
  transition: width 0.1s linear;
  width: 0;
}
