/* Feed Node */

@keyframes reveal-slowly {
  from { transform: translateY(50px); }
  to { transform: translateY(0); }
}


.feedNode figure {
  contain: layout paint;
  display: block;
  height: 100vh;

  padding: 
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* touch-action: none; */
  width: 100%;
  z-index: 10;

  max-width: 500px;
  margin: 0 auto 4px auto;

  background: #666; 
  border-radius: 10px;

  margin-bottom: -42px;
  animation: reveal-slowly linear both;
  animation-timeline: view();
  animation-range: entry -20% cover 80%;
}



.feedNode figcaption {
  bottom: 72px;
  left: 16px;
  position: absolute;
}
