/* Feed Node */

.feedNode {
  box-sizing: border-box;
  display: block;
  min-height: calc(100dvh - 64px);
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;

  max-width: 500px;
  margin: 0 auto 4px auto;

  background: #666; 
  border-bottom: 2px solid var(--dark-black);
}

.feedNode figcaption {
  bottom: 8px;
  left: 16px;
  line-height: var(--line-height);
  margin-top: auto;
  margin-right: 48px;
  position: absolute;
}
