/* Close Button for Dialog */

.closeButton {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  left: 8px;
  top: 8px;
  width: 44px;
}
