/* camera */

.camera {
  contain: layout paint style;
  height: 100dvh;
  inset: 0;
  margin: 0 auto;
  max-width: 500px; 
  padding-top: env(safe-area-inset-top);
  overflow: hidden;
  position: fixed;
}
