/* Camera Record Timer CSS Module */

.recordTimer {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white; 
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  top: 0;
  padding: 5px 10px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 4;
}
