/* Sidebar Navigation */

.sidebar {
  background-color: white;
  border-left: 1px solid gray;
  height: 100%;
  max-width: 450px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  width: 100%;
  z-index: 9999;
}

.sidebarOpen {
  right: 0;
  transform: translateX(0);
}

.sidebarClose {
  right: -500px;
  transform: translateX(0);
}

.sidebarOverlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  opacity: 0;
  max-width: 0; /* Set initial max-width to 0 */
  transition: opacity 0.3s, max-width 0s 0.3s; /* Add delay to max-width transition on close */
}

.sidebarOpenOverlay {
  opacity: 1;
  max-width: 100%; /* Set max-width to 100% on open */
  transition: opacity 0.3s;
}

.sidebarCloseOverlay {
  opacity: 0;
}

.sidebarButton {
  background: none;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 22px; 
  height: 45px;
  margin: 6px 8px 0 auto;
  padding-top: 5px;
  position: relative;
  width: 45px; 
}

.sidebarButton:hover .tooltip,
.icon-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.searchButton {
  float: left;
  margin: 0 5px 0 5px;
}

.searchInput {
  border: 1px solid black;
  border-radius: 5px; 
  float: left; /* consider using margin: auto instead of float */
  font-size: 15px;
  height: 29px;
  margin: 9px 0 15px 15px;
  padding: 4px 8px;
  width: 425px;
  max-width: 425px;
}

.sidebarButtonContainer {
  /* border-top: 1px solid black; */
  clear: both;
  margin-top: 12px;
  padding-top: 0;
}

.sidebarAvatar {
  display: flex;
  font-size: inherit !important; 
  padding: 0 !important;
}

.sidebarNavigation {  
  background: none;
  border: 0;
  /* border-bottom: 1px solid black; */
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0 20px 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%;
}

.sidebarNavigation:hover {
  background-color: #faf9f6;
  border-radius: 10px;
}

.sidebarNavigation span {
  margin-left: 16px;
}

.notificationsBadge {
  background-color: darkorange;
  border-radius: 50%;
  height: 8px;
  left: 30px;
  position: absolute;
  top: 15px;
  width: 8px;
}

@media (prefers-color-scheme: dark) {

  .sidebar {
    background-color: black;
    color: white;
  }

  .sidebarOverlay {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .searchInput {
    background-color: var(--dark-mode-background-secondary);
    color: var(--dark-mode-color);
  }

  .sidebarButton svg {
    fill: white;
  }

  .sidebarNavigation {
    color: white;
  }

  .sidebarNavigation:hover,
  .sidebarNavigation:focus {
    background-color: #333;
  }

  .sidebarNavigation:active {
    background-color: #222;
  }

  .sidebarNavigation svg {
    fill: white;
  }
  
}
