/* Profile Follow Button */

.followButton {
  align-items: center;
  border: 0;
  border-radius: 8px;
  background: var(--button-bar-bg);
  color: var(--button-bar-text);
  display: flex;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
  height: 44px;
  justify-content: center;  
  margin: 24px auto 0 auto;
  width: calc(100% - 48px);
}
