/* Publisher Overlay */

.publisher {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: content;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;

  border: 2px dashed magenta;
}

.publisher > div {
  background-color: var(--surface-raised);
  height: 100dvh;
  inset: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.publisher textarea {
  width: 100%;
}
