/* Feed Node Comments System */

.comments {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.comments > div {
  background-color: var(--surface-raised);
  inset: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding: 8px;
  position: fixed;
  touch-action: none;
  z-index: 200;
}

.comments textarea {
  border-radius: 10px;
  field-sizing: content;
  max-height: 152px;
  min-height: 48px;
  overflow: hidden; /* Hide scrollbars */
  resize: none; /* Disable manual resize */
  width: 100%;
}

.comments button {
  align-items: center;
  background: var(--button-bar-bg);
  border: none;
  border-radius: 10px;
  color: var(--button-text);
  display: flex;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin-bottom: 8px;
  text-transform: uppercase;
  width: 100%;
}

