/* Video Overlay Buttons */

.overlayButtons {
  height: 100dvh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlayButton div:first-of-type {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  border: 1px dashed red;
}

.overlayButton div:last-of-type {
  bottom: 48px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 48px;
  
  border: 1px dashed red;
}
