/* Authentication Flow */

.authentication {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: safe center;
  left: 0;
  margin: 0 auto;
  max-width: 500px;
  overflow-y: auto;
  padding: 16px 24px;
  position: absolute;
  scrollbar-width: none;
  top: 0;
  width: 100%;
}

.authentication div:first-of-type {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
}

