/* Authentication Flow */

.authentication {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: safe center;
  left: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 16px 24px;
  position: absolute;
  scrollbar-width: none;
  top: 0;
  width: 100%;
  z-index: 200;
}

.authentication > button:first-of-type {
  left: 0;
  position: absolute;
  top: 0;
}
