/* Notifications List Item */

.listItem article {
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}

/* Avatar: */
.listItem article header button {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.listItem article header {
  margin: 0 44px;
}

.listItem article header h2 {
  color: var(--text);
  display: inline-block;
  font-size: var(--font-size);
  margin: 0 16px 0 8px;
}

.listItem article header time {
  color: var(--text);
  display: inline-block;
  font-size: var(--font-size);
}

.listItem article > div {
  margin: 0 56px;
}

.listItem article > div p {
  color: var(--text);
  font-size: var(--font-size);
}

/* Dropdown */
.listItem article footer div {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
