/* Camera Video Editor Button */

.editorButton {
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  bottom: 8px;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 8px;
  width: 44px;
  z-index: 300;
}
