/* Camera View Port CSS Module */

.viewPort { 
  object-fit: cover;
  height: 100dvh;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width: 100%;
  will-change: transform, opacity;
  transform: translateZ(0);
}
