
.editForm {
  
}

.editForm label {
  width: 100%;
}

.editForm input {
  border-radius: 10px;
  width: 100%;
}

.editForm textarea {
  border-radius: 10px;
  width: 100%;
}

.editForm input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
