
.editForm {
  
}

.editForm canvas {
  border: 1px dashed red;
  border-radius: 50%;
  display: block;
  height: 170px;
  margin: 0 auto;
  width: 170px;
}

.editForm label {
  width: 100%;
  margin-bottom: 8px;
}

.editForm input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--input-text);
  font-size: var(--font-size);
  height: 44px;
  margin-bottom: 8px;
  padding: 0 8px;
  width: 100%;
}

.editForm input:focus {
  outline: none;
}

.editForm textarea {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 10px;
  color: var(--input-text);
  font-size: var(--font-size);
  height: 88px;
  margin-bottom: 8px;
  padding: 0 8px;
  width: 100%;
}

.editForm input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.editForm button {
  align-items: center;
  background: var(--button-bar-bg);
  border: none;
  border-radius: 10px;
  color: var(--button-bar-text);
  display: flex;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}
