/* Global Sidebar */

.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  height: 100dvh;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.1s ease-in, opacity 0.5s ease-out;
  z-index: 150;
}

.sidebar div {
  background-color: var(--surface-raised);
  height: 100dvh;
  inset: 0;
  padding: 8px;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3 ease-in-out;
  z-index: 200;
}

.open {
  transform: translateX(0);
}
