/* Dialog Modal */

.dialog {
  border: none;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
}
