/* Slide Show Previous Button */

.previousButton {
  align-items: center; 
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 44px;
  left: 8px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  z-index: 50;
}

.previousButton:focus {
  background: rgba(0, 0, 0, 0.3);
}

.previousButton:active {
  background: rgba(0, 0, 0, 0.3);
}
