/* Feed Node Top Nav */

.topNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-left: 8px;
  padding-top: env(safe-area-inset-top, 8px);
  position: absolute;
  top: 0;
  width: 100%;
}
