/* Feed Node Top Nav */

.topNav {
  align-items: center;
  display: flex;
  justify-content: flex-end; 
  left: 0;
  margin-top: var(--notch-height);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.fullScreen {
  justify-content: space-between;
}
