/* Profile Edit Text Field Button */

.editTextButton {
  align-items: center; 
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;

  border: 1px dashed red;
}
