/* User Registration Form */

.registrationForm {
  width: 100%;
}

.registrationForm label {
  color: var(--text);
  display: block;
  font-size: var(--font-size);
  margin: 0 0 8px 8px;
}

.registrationForm label span {
  color: red;
}

.registrationForm input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}

.registrationForm input:focus {
  outline: none;
}

.registrationForm button {
  align-items: center;
  background: var(--button-bg);
  border: var(--button-border);
  border-radius: 50px;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 32px 0;
  text-transform: uppercase;
  width: 100%;
}
