/* User Authentication Flow, Register User */

.register {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  contain: layout paint style;
  inset: 0;
  opacity: 1;
  position: fixed;
  transition: opacity 0.5s ease-out;
  z-index: 150;
}

.register > div {
  align-items: center;
  background-color: var(--surface);
  contain: layout paint style;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: safe center;
  left: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 16px 24px;
  position: fixed;
  top: 0;
  touch-action: none;
  width: 100%;
  z-index: 200;
}

.register label {
  color: var(--text);
  display: block;
  font-size: var(--font-size);
  margin: 0 0 8px 8px;
}

.register label span {
  color: red;
}

.register input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  color: var(--input-text);
  font-size: 18px;
  height: 44px;
  padding: 0 8px;
  width: 100%;
}

.register input:focus {
  outline: none;
}

.register button {
  align-items: center;
  background: var(--button-bg);
  border: var(--button-border);
  border-radius: 50px;
  color: var(--button-text);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 32px 0;
  text-transform: uppercase;
  width: 100%;
}
